<div class="bg-granate p-1">
  <nav class="flex flex-wrap items-center justify-between mx-auto">
    <a [routerLink]="['home']">
      <img src="assets/img/dragon.jpeg" alt="El Dragón Rojo" class="flex items-center w-16"/>
    </a>
    <div class="">
      <p class="text-5xl font-bold self-center text-dorado font-serif">Red Dragon Club</p>
      <p class="text-xl font-bold self-center text-dorado text-end">your hobby center</p>
    </div>
    <ul class="flex flex-row text-white space-x-4 mr-2 font-medium">
      <li><a [routerLink]="['home']" routerLinkActive="text-dorado">Home</a></li>
      <li><a [routerLink]="['catalog']" routerLinkActive="text-dorado">Catalog</a></li>
      <li><a href="https://www.eldragonrojo.es/" target="_blank" class="">Shop</a></li>
      <li><button (click)="onButtonClick()">{{ isLogged ? 'Logout' : 'Login' }}</button></li>
      <li *ngIf="!isLogged">
        <a [routerLink]="['auth', 'register']" routerLinkActive="text-dorado">Register</a>
      </li>
      <li *ngIf="isLogged">
        <button (click)="onUsernameClick()">
          {{ username || 'Username'}}
        </button>
      </li>
      <li *ngIf="isLogged && isAdmin">
        <a [routerLink]="['bg', 'new']" routerLinkActive="text-dorado">Add new Gameboard</a>
      </li>


    </ul>
  </nav>
</div>
