<footer class="bg-granate p-1">
  <div class="flex justify-between">
    <h3 class="text-md text-dorado font-serif">"Red Dragon Club" & "El Dragón Rojo" are registered trademarks.
      All rights reserved.
    </h3>
    <ul class="flex flex-row space-x-2 text-dorado font-serif">
      You can find us on social networks:
      <li><a href="https://github.com/Soratadev/RedDragonClub" target="_blank">
        <img src="assets/img/github.svg" alt="github" class="w-6 ml-2">
      </a>
      </li>
      <li><a href="https://www.facebook.com/" target="_blank">
        <img src="assets/img/facebook.svg" alt="facebook" class="w-6"></a>
      </li>
      <li><a href="https://www.instagram.com/" target="_blank">
        <img src="assets/img/instagram.svg" alt="instagram" class="w-6"></a>
      </li>
      <li><a href="https://www.twitter.com/" target="_blank">
        <img src="assets/img/twitter.svg" alt="twitter" class="w-6"></a>
      </li>
      <li><a href="https://www.youtube.com/" target="_blank">
        <img src="assets/img/youtube.svg" alt="youtube" class="w-6"></a>
      </li>
      <li><a href="https://www.whatsapp.com/?lang=en_EN" target="_blank">
        <img src="assets/img/whatsapp.svg" alt="whatsapp" class="w-6"></a>
      </li>
    </ul>
  </div>
</footer>
