<div class="flex min-h-full border border-black">
  <aside class="w-[2%] bg-granate"></aside>
  <main class="w-[96%] bg-dorado bg-opacity-75 p-2 font-medium font-serif">
    <div class="flex">
      <div class="flex flex-col w-[50%] ml-4">
        <span class="text-3xl">
          <h1 class="text-center text-4xl">Welcome to the Red Dragon Club</h1><br/>
          <p>
            Here you can find information about the board games you like the most
          and book one of our tables to have a good time with friends or other club members.
          </p><br/>
          <p>
            Remember that to enjoy our games and booking services you must register and log in.
          </p>
        </span><br/>
        <span>
          <h2 class="text-2xl underline">Our catalog</h2>
          <p class="font-bold">
            In our catalog you can find a wide variety of board games, from the most classic to the most modern and
            complex. You can search for games by name, designer, number of players, playing time, category, complexity,
            age, and cover image. If you don't find the game you are looking for, don't hesitate to let a member of staff know.
          </p>
        </span><br/>
        <span>
          <h2 class="text-2xl underline">Shop</h2>
          <p class="font-bold">
            If you particularly liked any of the games in our catalog, you can buy them at a good price in our partner
            store “El Dragón Rojo” that you can visit by clicking on the menu or from
            <a href="https://www.eldragonrojo.es/" target="_blank" class="text-red-600">here</a>!
          </p>
        </span>

      </div>
      <div class="flex flex-col justify-center text-center text-2xl w-[50%]">
        You can find us at Dado Street No. 3, 01234 Urithiru, Roshar.<br/>
        Enjoy your stay!<br/><br/>
        <img src="/assets/img/map.jpeg" alt="street-map" class="w-96 mx-auto">
      </div>
    </div>

  </main>
  <div class="w-[2%] bg-granate p-2 text-white"></div>
</div>
